$grey: #c0c0c0;
$white: #fff;

$amber: #ffc000;
$malachite: #00ff40;

$navy-blue: #0040ff;
$hot-magenta: #ff00c0;

body {
  &.jspsych-display-element {
    .color-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      &#grey {
        background: $grey;
      }

      &#white {
        background: $white;
      }

      &#amber {
        background: $amber;
      }

      &#malachite {
        background: $malachite;
      }

      &#navy-blue {
        background: $navy-blue;
      }

      &#hot-magenta {
        background: $hot-magenta;
      }
    }

    .visual-feedback {
      position: absolute;
      right: 100px;
      z-index: 2;
      display: none;
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      font-size: 2em;
      text-align: center;
      padding-top: 25px;
      border-radius: 50%;
      background: rgba(#fff,0.3);

      &#up {
        top: 150px;
      }

      &#down {
        top: 300px;
      }

      &.visible {
        display: block;
      }
    }
  }
}
